html{
    max-width: 100%; /* 最大幅 */
    min-width: 240px; /* 最小幅 */
    width: 100%;
}

.zukan{
    margin:0px;          /* ページ全体のmargin */
    padding:0px;         /* ページ全体のpadding */
    text-align:center;   /* 下記のautoに未対応用のセンタリング */
}

.listitem{
    font-size:25px;
}

.wormtex{
    max-width: 512px; /* 最大幅 */
    max-height: 512px;
    min-width: 128px; /* 最小幅 */
    min-height: 128px;
    width: 95%;

    width: min(95vw, 95vh * 0.75);  /* 横幅の計算 */
    height: min(95vh, 95vw / 0.75); /* 縦幅の計算 */ 

}